<div class="w-full text-center">
  <h1 class="text-3xl font-bold underline">
    Hello world!

    <hr>
    <%= Date.today.strftime("%A, %B %d") %>
    <hr>
    <%
=begin%>
 <%= @data["name"] %>  <%= @data["sys"]["country"] %>
    <hr>
<%
=end%>



  </h1>
  <img class="mx-auto" src="<%= @weather.icon_url%>"</img>
  <hr>
  <p><%= @weather.status%></p>
  <hr>
  <p><%= @weather.description %></p>

  <hr>
  <p>Temp: <%= @weather.temp %> Celsius</p>
  <hr>


  <%
=begin%>
 <p>Feels Like: <%= @data["main"]["feels_like"]%> Celsius</p>
  <hr>
  <p>Min Temp: <%= @data["main"]["temp_min"]%> Celsius</p>
  <hr>
  <p>Max Temp: <%= @data["main"]["temp_max"]%> Celsius</p>
  <hr>
  <p>Wind Speed: <%= @data["wind"]["speed"]%></p>
  <hr>
<%
=end%>


</div>
